/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

.section {
  outline: 1px solid tomato;
}
.section:not(:last-child) {
  padding-bottom: 60px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.logo__part {
  color: #2196F3;
}

.container {
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}
.header__mobile {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  position: fixed;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 0;
  border-radius: 50%;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__page {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: none;
}
.menu__btn:hover {
  fill: #2196F3;
}
.menu--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu--is-hidden .menu__page {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav__list {
  margin-top: 48px;
  margin-bottom: 50%;
  list-style-type: none;
}
.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.nav__link:hover {
  color: #2196F3;
}
.nav__link--current {
  color: #2196F3;
}
.nav__list .nav__item + .nav__item {
  margin-top: 7%;
}

.contact {
  list-style: none;
  margin-bottom: 60px;
}
.contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.contact__link--indent {
  display: block;
  margin-bottom: 32px;
}
.contact__link--style {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: #2196F3;
}
.contact__icon {
  display: none;
}
.contact__address {
  display: block;
  font-style: normal;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: #fff;
}
.contact__email {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.contact__tel {
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.social--indent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}
.social--margin {
  margin-left: 40px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
.social__link--size {
  height: 44px;
  width: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item--bg {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social__border {
  margin: 0 10px;
  display: block;
  height: 22px;
  width: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.social__icon {
  height: 20px;
  width: 20px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
}
.hero--overlay {
  display: block;
  height: 400px;
  width: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("./images/Img-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: url("../images/Img-hero.jpg");
  }
}
.hero__content {
  padding: 118px 60px;
  text-align: center;
}
.hero__title {
  max-width: 650px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button {
  padding: 0;
  border: 0;
  border-radius: 4px;
}
.button--size {
  height: 50px;
  width: 200px;
}
.button--color {
  color: #fff;
  background-color: #2196F3;
}
.button--font {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.benefits__header {
  display: none;
}
.benefits__list {
  padding: 0;
  list-style: none;
}
.benefits__item {
  max-width: 450px;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}
.benefits__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #F5F4FA;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.benefits__text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work {
  display: none;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
}
.team__img {
  margin-bottom: 30px;
}
.team__title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #212121;
}
.team__list {
  padding: 0;
  list-style: none;
}
.team__item {
  max-height: 622px;
  max-width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team__list .team__item + .team__item {
  margin-top: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.clients {
  padding: 60px 15px;
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  height: 92px;
  width: calc((100% - 60px) / 2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 93px 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal--is-hidden .modal__page {
  -webkit-transform: translate(-50%, -50%) scale(0.25);
          transform: translate(-50%, -50%) scale(0.25);
}
.modal__page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-height: calc(100% - 15px);
  min-width: 85%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  color: #212121;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.modal__btn svg {
  fill: currentColor;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.modal__content {
  text-align: center;
  padding: 40px;
}
.modal__title {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1px;
}
.modal__input {
  margin-top: 4px;
  padding-left: 42px;
  width: auto;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  padding: 12px 16px;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 0;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contract {
  margin-left: 3px;
  color: #2196F3;
}
.modal__button {
  margin-left: auto;
  margin-right: auto;
}
.modal__policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.modal__policy:checked + .modal__accept {
  border-color: #2196F3;
  background-image: url(../../images/check.svg);
  background-size: contain;
  background-color: #2196F3;
  background-origin: border-box;
}
.modal__accept {
  margin-right: 8px;
  min-height: 15px;
  min-width: 16px;
  border-radius: 4px;
  border: 2px solid #212121;
}

.footer {
  background-color: #2F303A;
  text-align: center;
}
.footer__container {
  padding: 60px 15px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
.footer__contact {
  padding: 0;
  text-decoration: none;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}/*# sourceMappingURL=main.css.map */