.benefits {
  &__header {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin: 15px;
    max-width: 450px;
  }
  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: $team-bg;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $second-text-color;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 481px) {
  .benefits {
    &__item {
     max-width: calc((100% - 2 * 30px) / 2);
    }
  }
}