.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &__mobile {
    display: flex;
    align-items: center;
    height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .container__mobile {
    height: 60px;
  }
}