.footer {
  background-color: $background-color;
  text-align: center;
  &__container {
    padding: 60px 15px;
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
    color: $third-text-color;
  }
  &__contact {
    flex-direction: column;
    padding: 0;
    text-decoration: none;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $third-text-color;
  }
  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  &__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__email {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    color: $third-text-color;
    background-color: $accent-color;
  }
  &__icon {
    margin-left: 10px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    color: $third-text-color;
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    &__email {
      width: 450px;
    }
    &--flex {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
    &__social {
      margin-left: 22%;
    }
  }
}
@media screen and (min-width: 769px) {
  .footer {
    &__container {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    &__title {
      text-align: left;
    }
    &__mailing {
      width: 49%;
    }
    &__form {
      display: inline;
      align-items: baseline;
      width: 65%;
      justify-content: space-between;
    }
    &--flex {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      width: 40%;
    }
    &__subscribe {
      display: block;
      width: 350px;
    }
    &__email {
      width: 100%;
      resize: vertical;
    }
    &__button {
      margin-left: 12px;
    }
    &__block {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}