.nav {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    padding: 0;
    list-style: none;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $second-text-color;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column;
    &__list {
      display: block;
      margin-top: 48px;
      margin-bottom: 50%;
    }
    &__link {
      font-size: 40px;
      color: $second-text-color;
      &:hover {
        color: $accent-color;
      }
      &--current {
        color: $accent-color;
      }
    }
    &__list &__item+&__item {
      margin-top: 7%;
    }

  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .nav {
    width: 100%;
    &__list {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
@media screen and (min-width:769px) {
  .nav {
    margin-left: 93px;
    &__list {
      width: 294px;
      justify-content: space-between;
    }
  }
}