.nav {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    padding: 0;
    list-style: none;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $second-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--current {
      color: $accent-color;
    }
  }
}
@media screen and (min-width: 481px) {
  .nav {
    &__link {
      position: relative;
      padding: 32px 0;
      &--current::after {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: '';
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: #2196F3;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    &__list {
      display: block;
      margin-left: 40px;
      margin-top: 48px;
      margin-bottom: 40%;
    }
    &__link {
      font-size: 40px;
    }
    &__list &__item+&__item {
      margin-top: 7%;
    }

  }
}
@media screen and (min-width: 481px) and (max-width: 769px) {
  .nav {
    width: 100%;
    &__list {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
@media screen and (min-width:769px) {
  .nav {
    margin-left: 93px;
    &__list {
      width: 294px;
      justify-content: space-between;
    }
  }
}