body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: .03em;
  color: $first-text-color;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  width: 100%;
}